In [2]:
#load libraries
import numpy as np
import pandas as pd

In [3]:
#load data
df = pd.read_csv('data/KCB LAB 23.csv')

In [4]:
#display the first 5 rows
df.head()

,DIVISION,TOTAL,MALE,FEMALE,UNDERWEIGHT,OVERWEIGHT: BMI>25,OBESE : MBI >30,HYPERTENSION,BP MONITORING,DM,LOW HB,CHOL - HIGH,GGT - HIGH,CREA - HIGH,RBS - HIGH,PSA - HIGH,FOB - POSITIVE,UTI,CEA - HIGH,REGIONS
0,GSSD A,96,47,49,2,39,21,5,13.0,1,9,28,19,0.0,8,0,8,8,0,KENCOM DIVISIONS
1,RISK,36,19,17,0,20,5,0,6.0,0,1,11,6,0.0,6,0,7,5,0,KENCOM DIVISIONS
2,BANCASSUARANCE,21,10,11,0,9,6,0,1.0,0,2,11,4,0.0,2,0,2,2,0,KENCOM DIVISIONS
3,RETAIL,67,34,33,0,33,15,2,9.0,0,8,21,11,0.0,3,0,7,10,1,KENCOM DIVISIONS
4,MARKETING,12,3,9,0,6,4,0,1.0,0,1,4,1,0.0,1,0,0,1,0,KENCOM DIVISIONS