In [1]:
#load libraries
import numpy as np
import pandas as pd

In [2]:
#Load dataset
df = pd.read_csv('data/KCB LAB 23.csv')

In [3]:
#Dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DIVISION            231 non-null    object
 1   TOTAL               231 non-null    int64
 2   MALE                231 non-null    int64
 3   FEMALE              231 non-null    int64
 4   UNDERWEIGHT         231 non-null    int64
 5   OVERWEIGHT: BMI>25  231 non-null    object
 6   OBESE : MBI >30     231 non-null    object
 7   HYPERTENSION        231 non-null    int64
 8    BP MONITORING      230 non-null    float64
 9   DM                  231 non-null    int64
 10  LOW HB              231 non-null    int64
 11  CHOL - HIGH         231 non-null    int64
 12  GGT - HIGH          231 non-null    int64
 13  CREA - HIGH         230 non-null    float64
 14  RBS - HIGH          231 non-null    int64
 15  PSA - HIGH          231 non-null    int64
 16  FOB - POSITIVE      231 non-null    int64
 17  UTI                 231 non-null    int64
 18  CEA - HIGH          231 non-null    int64
 19  REGIONS             231 non-null    object
dtypes: float64(2), int64(14), object(4)
memory usage: 36.2+ KB

In [4]:
#removes spaces from the data-this removes spaces from the data 
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

#remove spaces from the column names
df.columns = df.columns.str.strip()

In [5]:
#checking for null values 
df.isnull().sum()

#filter only the columns with null values
df.isnull().sum()[df.isnull().sum() > 0]

BP MONITORING    1
CREA - HIGH      1
dtype: int64

In [6]:
#BP MONITORING  lets get the particular row with null values
df[df['BP MONITORING'].isnull()]

,DIVISION,TOTAL,MALE,FEMALE,UNDERWEIGHT,OVERWEIGHT: BMI>25,OBESE : MBI >30,HYPERTENSION,BP MONITORING,DM,LOW HB,CHOL - HIGH,GGT - HIGH,CREA - HIGH,RBS - HIGH,PSA - HIGH,FOB - POSITIVE,UTI,CEA - HIGH,REGIONS
10,MERU,14,12,2,1,5,0,0,NaN,0,0,1,2,0.0,1,0,1,1,0,CENTRAL REGION

In [7]:
# fill it with 0
df['BP MONITORING'] = df['BP MONITORING'].fillna(0)

In [8]:
#CREA-HIGH lets get the particular row with null values
df[df['CREA - HIGH'].isnull()]

,DIVISION,TOTAL,MALE,FEMALE,UNDERWEIGHT,OVERWEIGHT: BMI>25,OBESE : MBI >30,HYPERTENSION,BP MONITORING,DM,LOW HB,CHOL - HIGH,GGT - HIGH,CREA - HIGH,RBS - HIGH,PSA - HIGH,FOB - POSITIVE,UTI,CEA - HIGH,REGIONS
222,NBK ELDORET,7,2,5,0,3,1,0,0.0,0,2,4,2,NaN,0,0,0,0,0,NATIONAL BANK

In [9]:
# fill it with 0
df['CREA - HIGH'] = df['CREA - HIGH'].fillna(0)

In [10]:
#dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DIVISION            231 non-null    object
 1   TOTAL               231 non-null    int64
 2   MALE                231 non-null    int64
 3   FEMALE              231 non-null    int64
 4   UNDERWEIGHT         231 non-null    int64
 5   OVERWEIGHT: BMI>25  231 non-null    object
 6   OBESE : MBI >30     231 non-null    object
 7   HYPERTENSION        231 non-null    int64
 8   BP MONITORING       231 non-null    float64
 9   DM                  231 non-null    int64
 10  LOW HB              231 non-null    int64
 11  CHOL - HIGH         231 non-null    int64
 12  GGT - HIGH          231 non-null    int64
 13  CREA - HIGH         231 non-null    float64
 14  RBS - HIGH          231 non-null    int64
 15  PSA - HIGH          231 non-null    int64
 16  FOB - POSITIVE      231 non-null    int64
 17  UTI                 231 non-null    int64
 18  CEA - HIGH          231 non-null    int64
 19  REGIONS             231 non-null    object
dtypes: float64(2), int64(14), object(4)
memory usage: 36.2+ KB

In [11]:
# Clean the "OVERWEIGHT: BMI>25" column
df['OVERWEIGHT: BMI>25'] = df['OVERWEIGHT: BMI>25'].astype(str).str.extract('(\d+)').astype(float)

In [12]:
print(df[df['DIVISION'] == 'MBITA'])

    DIVISION  TOTAL  MALE  FEMALE  UNDERWEIGHT  OVERWEIGHT: BMI>25  \
215    MBITA     16    10       6            0                 6.0

    OBESE : MBI >30  HYPERTENSION  BP MONITORING  DM  LOW HB  CHOL - HIGH  \
215            1(M)             0            3.0   0       2            5

     GGT - HIGH  CREA - HIGH  RBS - HIGH  PSA - HIGH  FOB - POSITIVE  UTI  \
215           4          0.0           0           0               0    1

     CEA - HIGH  REGIONS
215           1  WESTERN

In [13]:
# Clean the "OBESE : MBI >30" column
df['OBESE : MBI >30'] = df['OBESE : MBI >30'].astype(str).str.extract('(\d+)').astype(float)

In [14]:
print(df[df['DIVISION'] == 'MBITA'])

    DIVISION  TOTAL  MALE  FEMALE  UNDERWEIGHT  OVERWEIGHT: BMI>25  \
215    MBITA     16    10       6            0                 6.0

     OBESE : MBI >30  HYPERTENSION  BP MONITORING  DM  LOW HB  CHOL - HIGH  \
215              1.0             0            3.0   0       2            5

     GGT - HIGH  CREA - HIGH  RBS - HIGH  PSA - HIGH  FOB - POSITIVE  UTI  \
215           4          0.0           0           0               0    1

     CEA - HIGH  REGIONS
215           1  WESTERN